<h3>All spendings</h3>

<% @transactions.each{|transaction|  %>
  <table>
    <tr>
  <td bgcolor="ROSYBROWN"><b>Expense </i><%= transaction.id %></b></td>
  <td><b>Name:</b> <%= transaction.name %></td>
  <td><b>Category:</b> <%=  transaction.category().name  %></td>
  <td><b>Date:</b> <%= transaction.calendar %></td>
  <td><b>Amount: </b>£<%= transaction.amount %></td>

  <td><a href="/budgetup/expenses/<%= transaction.id %>">Show Expense</a></td>

  <td><form action="/budgetup/expenses/<%= transaction.id %>/delete_expense" method="POST">
    <input type="submit" value="Delete Expense" />
  </form></td>

  <td><a href="/budgetup/expenses/<%= transaction.id %>/edit">Edit Expense</a></td>

</tr>
</table>
  <% } %>

  <h5> Total: £<%= @total %> </h5>
